$background-image: url('/content/images/rotmg-background3.png');

$background-color: #1e1a24;
$background-color-light: rgba(46, 40, 54, 0.92);  // Higher opacity for readability
$background-color-light2: rgba(58, 50, 68, 0.95);
$background-color-light3: rgba(70, 60, 82, 0.98);
$background-color-dark: #141018;

$text-color: #ede8ff;
$text-color-grey: #b8adc9;
$text-font: 'Inter';