$background-color: #2e2622;
$background-color-light: #3b2d25;
$background-color-light2: #4d392d;
$background-color-light3: #5c4233;
$background-color-dark: #251f1c;

$text-font: 'Inter';
$text-color: #ffefe5;
$text-color-grey: #c4b8b0;