@import 'global';

.site-header {
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100vw;
    height: 50px;
    margin-bottom: 10px;
    box-shadow: 0px -5px 15px #090A0C;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $background-color-light;

    #h-realmdex-icon {
        margin-left: 10px;
        display: flex;
        align-items: center;
        gap: 5px;
    }

    img {
        margin: 5px;
        max-height: 45px;
    }

    p {
        margin: 0;
    }
}