@import 'global';

@font-face {
  font-family: 'Inter';
  src: url('/content/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: $text-font;
  color: $text-color;
  background-color: $background-color;
}

img {
  max-width: 100%;
  display: block;
}

button {
  font-family: inherit;
}

input {
  font-family: inherit;
  color: $text-color;
}